# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# Database files
db.sqlite3

# Django media files
/media/

# Django static files (if you use collectstatic)
/static/

# VSCode settings
.vscode/

# Virtual environment
venv/
env/
*/env/

# IDE and editor files
.idea/
*.sublime-workspace
*.sublime-project
*.vscode/

# Pytest
.pytest_cache/

# Coverage reports
.coverage
*.cover
*.coverage

# Django secret key file
*.env

# log files
*.log
